<!DOCTYPE html>
<html land="en">
  <head>
    <meta charset="utf-8">
    <title>E-Motion|Movies&amp;TV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/var/www/FlaskApp/FlaskApp/" type="image/x-icon">
  </head>
  <header>
    <nav class="navbar navbar-expand-sm navbar-bark bg-dark" data-toggle="affix">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:white; font-size:20px;" href="/">Movies</a>
                    </li>
                    <h2 style="color:white;">E-Motion</h2>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white; font-size:20px;" href="/tv">TV</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <form class="form-inline my-2 my-lg-0" style="padding-left:45%">
      <input class="form-control mr-sm-2" style="text-align:center;" id="movieSearch" type="search" placeholder="Search" aria-label="Search">
    </form>


    <style>
      h1,p,h2,h3,a,th,td,h5,li,ul{color:white}
    </style>
  </header>
  <body style="background-color: #121212">
    <div class="container" align="center" style="min-height:100%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    {% block body %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
    <script type="text/javascript">

  var message = "";
    function print(message) {
      var outputDiv = document.getElementById('output');
      outputDiv.innerHTML = message;
    }
    function searchForm(){
      var search = document.getElementById("movieSearch").value;
      message = search;
      print(message);
    }
    $.getJSON("/var/www/FlaskApp/FlaskApp/static/movies.json", function(jsonmovie) {
    let dataFile = JSON.parse(jsonmovie);
    let stringData = JSON.stringify(dataFile);
    console.log(stringData);
});

    // obj = JSON.parse("movies.json");
    // document.getElementById("output").innerHTML = obj.Title;

    </script>
  </body>
<!-- FOOTER -->
    <div class="row" style="padding:1%; background-color:#343a40">
      <div class="col" style="text-align:center; color:white;">
      <ul class="nav navbar-nav navbar-right">
        <a class="nav-link" href="/about/">About</a>
          {% if session.logged_in %}
          <li>
            <a class="nav-link" href="/upload/">Movies</a>
            <a class="nav-link" href="/tvupload/">TV</a>
          </li>
        <li>
          <a class="nav-link" href="/logout/">Log Out <span class="sr-only"></span></a>
        </li>
        <li>
          {% else %}
          <a class="nav-link" href="/login/">Editor Log In <span class="sr-only"></span></a>
        </li>
        <!-- <li>
          <a class="nav-link" href="/signup/">Sign Up <span class="sr-only"></span></a> -->
          {% endif %}
        <!-- </li> -->
      </ul>
        </div>
        <div class="col" style="text-align:center;">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#somethingWrongModal">
            Information Wrong?
          </button>
          </div>
          <div class="col" style="text-align:center; color:white;">
            <h2>E-Motion</h2>
            </div>
</nav>
<!-- Wrong Information Modal -->
<div class="modal fade" id="somethingWrongModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Something Wrong? Let Us Know!</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  role="form" method="post" action="/" id="wrongForm">
      <input type="text" name="wrongName" class="form-control" placeholder="Name">
      <input type="text"  name="wrongEmail" class="form-control" placeholder="Email">
      <textarea class="form-control" type="text" name="wrongMess" placeholder="Your Message" rows="3"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" form="wrongForm" value="Submit">Submit</button>
  </div>

</div>
</div>
</div>
</html>
