{% extends "header.html" %}

{% block body %}

<body>
	<div class = "container">
		<h4>Register</h4>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method=post action="/signup/">
			<dl>
				<!-- <input type="text" class="form-control" placeholder="Username" name="username">{{render_field(form.username)}}</input> -->
				<h5>Username:</h5>
				{{ form.username(class="form-control") }}
				<!-- {{render_field(form.username)}} -->
				<h5>Email:</h5>
				{{ form.email(class="form-control") }}
				<!-- {{render_field(form.email)}} -->
				<h5>Passowrd:</h5>
				{{ form.password(class="form-control") }}
				<!-- {{render_field(form.password)}} -->
				<h5>Confirm Password:</h5>
				{{ form.confirm(class="form-control") }}
				<!-- {{render_field(form.confirm)}} -->
				{{render_field(form.accept_tos)}}
			</dl>
			<p><input class="btn" type=submit value=Register></p>
		</form>

		{% if error %}
			<p class="error"><strong>Error:</strong>{{error}}</p>
		{% endif %}

	</div>
</body>
{% endblock %}
