{% extends "header.html" %}

{% block body %}

<div class="container">
  <h1>TV Series</h1>
  <div class="card-group">
    {% for d in tvdata %}
      <a href="/tv/{% print(tvdata[d]['TVTitle']) %}/">
        <div class="card">
          <img src="/static/images/{% print(tvdata[d]['filename']) %}" class="card-img-top center-block img-rounded" style="height:300px; width:200px; margin: auto;" alt="Images don't appear to be loading?">
        </div>
      </a>
    {% endfor %}
  </div>
</div>

{% endblock %}
